.Example {
}

.Example__Table {
  background: rgb(230, 230, 230);
  padding: 5px;
}

.Example__Table input, select {
  width: 100%;
}

.Example td {
  border: 1px solid black;
}

.Example thead th {
  padding: 5px;
}
