.ReactFilter {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  border: 1px solid black;
  padding: 10px;
  background: #c8ffcf;
}

.ReactFilter__Thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 75px;
  background: #c8ffcf;
  border: 1px solid black;
}

.ReactFilter__InputelEments_Edit {
  background: #ff9299;
}

.ReactFilter__InputelEments_notEdit {
  background: #ffffff;
}

.ReactFilter select, input {
  width: 15%;
}
